<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathon.android.sherlocked">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.webkit.PermissionRequest" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hackathon.android.sherlocked.MurdererRevealActivity"></activity>
        <activity android:name="com.hackathon.android.sherlocked.ChooseMurderer">

        </activity>
        <activity android:name="com.hackathon.android.sherlocked.ThirdIntroActivity" />
        <activity android:name="com.hackathon.android.sherlocked.SecondIntroActivity" />
        <activity android:name="com.hackathon.android.sherlocked.FirstIntroActivity" />
        <activity android:name="com.hackathon.android.sherlocked.ChatBotRamuActivity" />
        <activity android:name="com.hackathon.android.sherlocked.ChatBotMithilaActivity" />
        <activity android:name="com.hackathon.android.sherlocked.ChatBotAmitActivity" />
        <activity android:name="com.hackathon.android.sherlocked.TestActivity" />
        <activity android:name="com.hackathon.android.sherlocked.WebViewActivity" />
        <activity
            android:name="com.hackathon.android.sherlocked.HomeActivity"
            android:label="@string/title_activity_home" >

        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hackathon.android.sherlocked.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"></activity>
        <activity
            android:name="com.hackathon.android.sherlocked.ChatBotVijayActivity"
            android:label="Vijay"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>